name: CI - Validação e Deploy HTML

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositório
        uses: actions/checkout@v4

      - name: Validar HTML básico
        run: |
          if grep -q "TODO" index.html; then
            echo "Encontrei um TODO, corrija antes do merge!"
            exit 1
          fi
          echo "Nenhum erro encontrado, código aprovado!"

  deploy:
    runs-on: ubuntu-latest
    needs: validate
    environment:
      name: github-pages


    steps:
      - name: Clonar repositório
        uses: actions/checkout@v4

      - name: Configurar GitHub Pages
        uses: actions/configure-pages@v5

      - name: Fazer upload dos arquivos
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.' 
          name: my-pages-artifact

      - name: Publicar no GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          artifact_name: my-pages-artifact
